<div class="center jumbotron">
  <h1>Welcome to the Application</h1>
  <div>Your last login was: <%= localize(current_user.last_sign_in_at, format: :long, default: '-') %></div>
  <div>Total number of sign in count: <%= pluralize(current_user.sign_in_count, 'time') %></div>

  <h2>
    Download the file using the download link
    <%= link_to "Download PDF", home_download_pdf_url, class: "btn btn-lg btn-primary" %>
  </h2>
</div>
